.card-api {
  margin: 30px 60px;
  width: 100%;
}

.box-api {
  width: 93%;
}

.title {
  padding-bottom: 30px;
}

.subtitle {
  padding: 30px 0;
}

.list {
  margin-left: 45px;
}

.number {
  margin-bottom: 15px;
  list-style: decimal;
  font-size: 1.2rem;
}